<!DOCTYPE html>
<html lang="en">
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
  </head>


  


  <body>
    <%- include('./partials/nav.ejs') %> 

      <div class="container-fluid pt-5">

        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4 text-center">Edit blog</h1>

            <div class="row">
              <div class="col-md-6 mx-auto">



                <form action = "edit/:id" method="POST">

                  <div class="form-group form-floating">
                    <label for="">Blog headline</label>
                    <input type="text" class="form-control" id="heading" aria-describedby="emailHelp" name="heading"
                      placeholder="Enter email">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>

                  <div class="form-group form-floating">
                    <label for="exampleInputPassword1">Content</label>
                    <textarea class="form-control" placeholder="Write something"  name="body" id="body"></textarea>
                  </div>


                  <div class="form-group form-floating">
                    <label for=""> Author Name</label>
                    <input type="text" class="form-control" name="author" id="author" aria-describedby="emailHelp"
                      placeholder="author">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>


                  <button class="btn btn-outline-primary font-weight-bold">Save Changes</button>
                </form>



              </div>
            </div>
          </div>
        </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>


      <script>

        document.getElementById('heading').value = 'new';
        document.getElementById('body').value = 'new';
        document.getElementById('author').value = 'new';


      </script>
  </body>

</html>